##
## omdbd.conf
##
[global]
PidFile = /var/tmp/omdbd.pid
ErrorLog = /usr/local/omdb/logs/error.log
Versioning = true
MaxKeySize = 255
MaxValueSize = 0
StatusUrl = /status

# Default query option
#   encoding:
#     binary, url, base64, json
#   max:
#     Maximum number of keys to show in key listing.
#     Set to 0 to disable. 
#   maxscan:
#     Maximum number of keys to scan from db when filter is applied.
#     When filter is applied and ListSize isn't reached, it will try
#     to scan entire keys until it reached this number.
#     Set to 0 for unlimited entire db scan.
QueryOption = binary,max:1000,maxscan:100000

[database]
Directory = /usr/local/omdb/db
AutoCreate = true # whether to create database automatically
CacheSize = 10000

[httplistener]
Addr = 0.0.0.0:8081	# listen address in "address:port" format
Protocol = http  	# http or https
CertFile = 		# certificate file for https protocol
KeyFile = 		# private key file for https protocol
AccessLog = /usr/local/omdb/logs/access-20060102150405.log
LogRotate = 3600
